.header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  border-bottom: 1px solid #e5e7eb;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}



/* Logo */
.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.logo-section i {
  font-size: 28px;
  color: #6b7280;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  font-family: cursive;
  color: #444;
  letter-spacing: 2px;
}

/* Menu */
.menu-section {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 50px;
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 110%;
  left: -20px;
  display: flex;
  flex-direction: column;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 6px 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  z-index: 200;
  min-width: 110px;
  gap: 5px;
}

.dropdown-menu .button {
  width: 100%;
  text-align: left;
}
/* Thêm gạch ngăn chỉ trong header */
.menu-section > .button.textgreen,
.menu-section > .dropdown > .button.textgreen {
  border-left: 2px solid #51AE77;
  border-radius: 0;
}

/* Bỏ gạch cho nút đầu tiên */
.menu-section > .button.textgreen:first-child,
.menu-section > .dropdown:first-child > .button.textgreen {
  border-left: none;
}
a{
  text-decoration: none;
  color: #418B5F;
}