.news-container-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.news-container{
    display: flex;
    gap: 20px;
    cursor: pointer;
}
.news-container:hover{
    background-color: #EFFFF4;
}
.news-img{
    width: 150px;
}