.examtype {
  display: flex;
  padding: 10px 0;
  align-items: center;
}
.examtype .btn[class*="exam-"] {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
