* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.adminContainer {
    display: flex;
    background-color: #f5f5f5;
    min-height: 100vh;

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 240px;

    }

    .mainContent {
        width: calc(100% - 240px);
        margin-left: 240px;
        padding: 0px 20px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;

        .content {
            min-height: calc(100vh - 140px);
        }
    }
}

@media only screen and (max-width: 1024px) {
    .adminContainer {
        .navbar {
            width: 200px;
        }

        .mainContent {
            width: calc(100% - 200px);
            margin-left: 200px;
        }
    }

}

@media only screen and (max-width: 768px) {
    .adminContainer {
    
        .navbar {
            width:100px;
        }

        .mainContent {
            width: calc(100% - 100px);
            margin-left: 100px;
        }
    }
    
}