.culture-container{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.culture-body{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-content {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  max-width: 60%;
  width: 80%;
  font-size: 20px;
  max-height: 80vh;   /* không cho vượt quá 80% chiều cao màn hình */
  overflow-y: auto;   /* khi vượt quá thì hiện scroll dọc */
}
.overlay-content>h2{
    text-align: center;
}
.overlay-content img {
  display: block;      /* biến ảnh thành block để margin auto hoạt động */
  margin: 10px auto;   /* căn giữa ngang */
  max-width: 100%;     /* giữ ảnh không vượt quá khung */
  height: auto;
}
/* Ẩn bớt thanh cuộn mặc định */
.overlay-content::-webkit-scrollbar {
  width: 8px; /* độ dày */
}

.overlay-content::-webkit-scrollbar-thumb {
  background: #51AE77; /* màu thanh */
  border-radius: 4px;
}

.overlay-content::-webkit-scrollbar-track {
  background: transparent; /* nền track */
}
