.contentStatistical {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 20px;

}

.chartsContainer {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.bottomContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    .lineChartWrapper {
        flex: 2
    }

    .calendarWrapper {
        flex: 1
    }

}

@media screen and (max-width: 1000px) {
    .contentStatistical {
        grid-template-columns: repeat(2, 1fr);
    }
}